#search-page-conf *{
  margin:0;
  padding:0;
  font-family: OpenSans;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;  
  line-height: normal;
  letter-spacing: normal;  
  box-sizing: border-box;
}

#container{
 width: 90%; 
 margin: auto;
}

#search-page-conf input{
  text-align: left;
  padding: 7px 16px;
  width: 100px;
  height: 30px;
  border-radius: 2px;
  border: solid 1px #e6e6e6;
  background-color: #ffffff;   
}

#search-page-conf body{
  width: 100%;  
  display: grid;
  background-color: #fff;
}

#search-page-conf header{
  margin-top: 5%;    
  height: 36px;
  display: grid;
  grid-template-columns: 360px 327px;
  grid-template-rows: 40px 50px;
  justify-content: space-between;
  align-items: center;  
}

#search-page-conf h1, #search-page-conf h2{
  font-weight: 600;
}

#search-page-conf h1{  
  width: 170px;  
  font-size: 26px;
  font-weight: 600;  
  letter-spacing: -0.7px;
  color: #525c5d;  
}

#search-page-conf header div div{
  width: 1px;
  background-color: #e6e6e6;
  height: 28px;
  margin-right: 13px; 
}

#search-page-conf header p{    
  font-size: 12px;  
  line-height: 1.33;  
  color: #96a0a1;  
  width: 166px;
}
#search-page-conf header div:first-child{
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;  
}

#search-page-conf header select{
  width: 320px;
  border-radius: 2px;
  border: solid 1px #e6e6e6;
  background-color: #ffffff;  
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -0.2px;
  color: #333333;
  padding: 4.6%;
}

#search-page-conf nav{  
  margin: 20px auto;
  margin-left: -20px;
}
#search-page-conf nav ul{
  list-style: none;
  background-color: #f5f5f5;
  height: 44px;  
}
#search-page-conf nav li{  
  width: 144px;
  height: 44px;
  background-color: #ffffff;
  border-top: 2px solid #8acc54;  
  text-align: center;
  display: grid;
  align-items: center;  
}

#search-page-conf nav ul li a{
  text-decoration: none;
  font-size: 11px;  
  letter-spacing: -0.2px;  
  color: #636363;  
}

#search-page-conf h2{
  width: 827px;
  height: 24px; 
  font-size: 18px;  
  letter-spacing: -0.5px;
  color: #333333;  
}

#steps-container {
  margin: 20px auto;
  display: grid;
  grid-template-columns:repeat(6, auto)  
}

#steps-container .steps-item{
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: space-between;  
  height: 56px;    
  border: solid 1px #e8e8e8;
  border-left: 0;
  border-right: 0;
}

#steps-container .steps-item:nth-child(odd){
  border-left: solid 1px #e8e8e8;
  border-right: solid 1px #e8e8e8;
}

#steps-container .steps-item:last-of-type{
  border-right: solid 1px #e8e8e8;  
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

#steps-container .steps-item:first-of-type{   
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

#steps-container .steps-item > div{
  background-color: #666;
  height: 24px;
  width: 24px;
  border-radius: 100%;  
  color: #444444;
  text-align: center;
  align-items: center;
}

#steps-container .steps-item p{
  width: 36px;
  height: 13px; 
  font-size: 11px;
  font-weight: bold;  
  line-height: 1.18;
  letter-spacing: -0.2px;
  color: #444444;
}

#steps-container .steps-item div span{
  width: 8px;
  height: 13px;  
  font-size: 15px;
  font-weight: bold;  
  line-height: 0.93;  
  color: #fff;  
}

#steps-container > div img{  
  margin-right: 8.6px;
  width: 12.6px;
  height: 13px;   
}

#steps-container .steps-item > div{
  display: grid;
  grid-template-columns: 24px 13px;
  grid-column-gap: 5px;
  margin-left: 21px;
}

.disabled{
  background-color: #f7f7f7;   
}

.disabled p, .disabled > div{
  opacity: 0.25;
}

p{
  font-size: 14px;  
  letter-spacing: -0.2px;
}
#feedback-conf-section article:nth-child(1) p{
  color:#696969;
  margin-top:-2px;
}

#feedback-conf-section article:nth-child(1){    
  margin-bottom: 27px;
}

#feedback-conf-section #feedback-conf{
  background-color: #f7f7f7;  
  
}
#feedback-conf-section #feedback-conf,
#feedback-conf-section #feedback-conf #feedback-container
{
  padding: 20px 23px;
  border-radius: 6px;
}

#search-page-conf h3{
  width: 54px;
  height: 17px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: -0.2px;
  color: #333333;
  margin-bottom: 8px;
}

#feedback-container{
  background-color: #fff;  
}

#feedback-container  p{
  color:#696969;  
}

#satisfaction-screen div > p{
  width: 50%;
  height: 40px;
  font-family: Gilroy;
  font-size: 14px;
  font-weight: 500;  
  line-height: 1.43;
  letter-spacing: normal;
  color: #8b93a7;
}

#feedback-container > div, #feedback-container > p{
  border: 0.5px solid #ddd;  
}

.gc-1to2{
  grid-column: 1/2; 
}
.gc-2to3{
  grid-column: 2/3;   
}

#satisfaction{
  grid-row: 1/6;
}

.gc-2to4{
  grid-column: 2/4; 
}
.gc-2to6{
  grid-column: 2/6; 
}
.gc-2to8{
  grid-column: 2/8; 
}
.gc-2to3{
  grid-column: 2/3; 
}

.gc-3to5{
  grid-column: 3/5;
}
.gc-3to7{
  grid-column: 3/8;
}

.gc-5to6{
  grid-column: 5/6; 
}

.gc-6to7{
  grid-column: 6/7;
}
.gc-5to7{
  grid-column: 5/8;
}

#feedback-container{  
  display: grid;  
  grid-row-gap: 0px;
  grid-template-columns: 11.5vw 1fr 6vw repeat(4, 11.5vw);    
}

#feedback-container > p{
  padding: 10px;
  display: grid;
  align-items: center;
  font-size: 11px;  
  letter-spacing: -0.2px;
  text-align: right;
  color: #3e3e3e;
}

#feedback-container > div{
  padding: 21px 10px;
}

#feedback-container span{
  font-weight: bold;
}

.button-span-2{
  grid-column: span 2;
}

.characters-remaining{
  margin-left: 9px!important;
  width: 75px;
  height: 24px;
  font-family: OpenSans;
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.09;
  letter-spacing: -0.2px;
  color: #9c9c9c;
 }

#feedback-conf #feedback-container-info {
  margin: 27px auto;
  margin-left: 23px;
  color:#696969;  
}

#logo-conf div{
  margin-top: 20px;
  margin-bottom:16px;
}

#feedback-container button{ 
  width: 85px;
  height: 26px;
  border-radius: 2px;
  border: solid 1px #d8d8d8;
  background-color: #ffffff;
}

#title-conf input{
  width: 152px;
  height: 30px;
  border-radius: 2px;
  border: solid 1px #e6e6e6;
  background-color: #ffffff;  
  margin-right: 9px;
}


.row{
  display: flex;
  align-items: center;  
}

.color-square{
  width: 28px;
  height: 30px;
  border-radius: 2px;
  border: solid 1px #e6e6e6;  
}

#title-color-conf .color-square{
  background-color: #222f51
}

#title-color-conf input
{
  width: 109px;
  height: 30px;
  border-radius: 2px;
  border: solid 1px #e6e6e6;
  background-color: #ffffff;
}

#title-color-conf{
  display: flex;
}
 
#container-emojis > div{
  display: grid;
  grid-template-columns: 60px 50px;
  align-items: center;
  margin-bottom: 14px;  
}

#container-emojis img{
  width: 37px;
  height: 37px;  
}

.img-and-caption{
  text-align: center;
  flex-flow: column wrap;
  justify-content: center; 
}

#container-emojis p{    
  height: 13px;  
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.03;
  letter-spacing:normal;  
  color: #9e9e9e;
  margin-top: 4.1px;
}

#container-emojis > p{
  width: 215px;
  height: 30px;
}

 #grades-text-color .color-square{
   background-color: #8b93a7;
 }

 #comment-conf input{
  width: 611px;
  height: 30px;
  margin-right: 9px;
  font-size: 11px;
 }

 #button-conf input{
  width: 284px;
  height: 30px;
 }

 #comment-text-color .color-square{
  background-color: #8b93a7;
 }

 #button-text-color .color-square{
  background-color: #fff;
 }

 #button-bg-color .color-square{
  background-color: #39c881;  
 }

 #screen-color .color-square{
   background-color: #f5f6fa;
 }
 
 #satisfaction{
   padding: 20px!important;
 }

 .menu-mac{   
   background-color: #ddd;
   height: 29px;
   display: flex;
   align-items: center;
   padding: 9px 11px!important;
   border-top-left-radius: 2px;
   border-top-right-radius: 2px;   
 }

 .menu-mac div{
  width: 11.3px;
  height: 11.3px;
  background-color: #f45f5f;
  border-radius: 100%;
 }

 .menu-mac div:nth-child(2){
  background-color: #ffcc2b;  
  margin-left: 7.6px !important;
  margin-right: 7.6px !important;
 }

 .menu-mac div:nth-child(3){
  background-color: #7ed321;  
 } 

#satisfaction{
  padding: 30px!important;  
}


#satisfaction-content-container{
  display: flex!important;
  justify-content: center!important;
  align-items: center!important;
  width: 100%;
  height: 95%;
  background-color: #f5f6fa;  
  
}

#satisfaction-content-container > div {
  width: 90%;
  height: 95%;
  background-color: #fff;
  padding: 61px 40px;
  border-radius: 5px;
}

#satisfaction-content-container > div > div:first-of-type {
  margin-top:52px;
}

#feedback-conf-section h2{
  width: 225px;
  height: 22px;
  font-family: Gilroy;
  font-size: 22px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.4px;
  color: #222f51;
  margin-bottom: 8px;
}
#feedback-conf-section #satisfaction p{
  font-family: Gilroy;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
  color: #8b93a7;
}

  #satisfaction-img-container{
    display: flex;
  }  

  #satisfaction-img-container img{
    width: 73px;
    height: 73px;
  }  